{% extends 'ordering/base.html' %}

{% block title %}
{{ ord.title }}
{% endblock %}

{% block content %}
   <div class="features">
       <h1>{{ ord.title }}</h1>
                <p>{{ ord.clients_name }}</p>
                <p>{{ ord.clients_surname }}</p>
                <p>{{ ord.clients_car }}</p>
                <p>{{ ord.services }}</p>
                <p>{{ ord.employees }}</p>
                 <p>{{ ord.orders }}</p>
       <a href="{% url 'order-delete' ord.id %}" class="btn btn-danger">Удалить</a>
       <a href="{% url 'order-update' ord.id %}" class="btn btn-info">Редактировать</a>
   </div>
{% endblock %}

