{% extends 'main/base.html' %}

{% block title %}
    Про нас
{% endblock %}

{% block content %}
<section class="about_logo">
    <div class="container">
     <h1 class="about_title">
         О нас и нашей работе
     </h1>
     <div class="about_text">
        Я разобрал свою первую МКПП в 1995 году. Когда начало получаться, начали обращаться знакомые и соседи - так постепенно ремонт КПП и стал делом моей жизни. За 20 лет работы мы  получили бесценный опыт и собрали
огромный склад запчастей и гарантийных КПП, для того чтобы легко брать на себя любые, даже самые смелые, обязательства.<br>
пециализированный сервисный центр KPPcentr.by обслуживает частный и коммерческий транспорт со всей республики и ближнего зарубежья.

На сегодня, мы одни из лучших в Беларуси по ремонту и продаже МКПП. <br> Я отвечаю за все, что мы делаем, и подпишусь под каждым своим словом.
    </div>
     
    </div>
</section>
{% endblock %}