{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
   <section class="employess_logo">
       <div class="container">
        <h1 class="top_title">
            Наши сотрудники
        </h1>
            <div class="employees_photo">
                
                <div class="piskun">
                    <img src="../../static/main/img/Пискун.jpg" alt="">
                        <p>Пискун Ян <br> Александрович</p>
                </div>
                <div class="piskun">
                    <img src="../../static/main/img/Демиденко.jpg" alt="">
                    <p>Демиденко Валерий <br> Олегович</p>
                </div>
                <div class="piskun">
                    <img src="../../static/main/img/Гаврилов.jpg" alt="">
                    <p>Гаврилов Иван <br> Александрович</p>
                </div>
                <div class="piskun">
                    <img src="../../static/main/img/Белый.jpg" alt="">
                    <p>Белый Кирилл <br> Александрович</p>
                </div>
                <div class="piskun">
                    <img src="../../static/main/img/Скурчаев.jpg" alt="">
                    <p>Скурчаев Егор <br> Олегович</p>
                </div>
                
            </div>
            
       </div>
   </section>
       
   

{% endblock %}