{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
   <section class="employess_logo">
       <div class="container">
        <h1 class="top_title">
            Наши Услуги
        </h1>
            <div class="employees_photo">

                <div class="piskun">
                    <img src="../../static/main/img/Покраска.jpg" alt="">
                        <p>Покраска Автомобиля</p>
                </div>
                <div class="piskun">
                    <img src="../../static/main/img/Запчасти.jpg" alt="">
                    <p>Замена Запчастей</p>
                </div>
                <div class="piskun">
                    <img src="../../static/main/img/Починка.jpg" alt="">
                    <p>Починка Запчастей</p>
                </div>
                <div class="piskun">
                    <img src="../../static/main/img/Осмотр.jpg" alt="">
                    <p>Технический Осмотр</p>
                </div>
                <div class="piskun">
                    <img src="../../static/main/img/Зеркала.jpg" alt="">
                    <p>Замена Зеркал и Стёкол</p>
                </div>

            </div>

       </div>
   </section>



{% endblock %}